*.vdh linguist-detectable=true
*.html linguist-detectable=false
*.js linguist-detectable=false
*.c linguist-detectable=false
*.sh linguist-detectable=false
*.bat linguist-detectable=false
*.lpr linguist-detectable=false
*.pb linguist-detectable=false
exp_2/exp_2.runs/impl_1/** linguist=detectable=false
exp_2/exp_2.runs/synth_1/** linguist=detectable=false
exp_2/exp_2.sim/sim_1/behav/xsim/** linguist=detectable=false






exp_2/exp_2.runs/** linguist-detectable=false
exp_2/exp_2.sim/** linguist-detectable=false
